{% extends "layout.html" %}

{% block content %}
<section class="company-listings">
    <h2>Company Directory</h2>
    {{ companies }}
    {% for company in companies %}
        {% if company.id != 1 %}
            <div class="company-card">
                <div class="company-logo">
                    Company logo here
                </div>
                <div class="company-heading">
                    <h3>{{ company.name }}</h3>
                    <p><strong>Headquarters:</strong> {{ company.headquarters }}</p>
                </div>
                <div class="company-description">
                    <p>{{ company.description }}</p>
                    <p>
                        <strong>
                            <a href="#">Click to see all postings by this company</a>
                        </strong>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</section>
{% endblock %}