{% extends "layout.html" %}

{% block content %}
<section class="company-listings">
    <h2>Company Directory</h2>
    {% for company in companies %}
        {% if company.id != 1 %}
            <div class="company-card">
                <div class="company-logo">
                    <img src="{{ url_for('serve_logo', company_id=company.id) }}" width="125px" height="125px" alt="Company Logo">
                </div>
                <div class="company-heading">
                    <h3><a href="{{ url_for('view_company_profile', company_id=company.id)}}">{{ company.name }}</a></h3>
                    <p><strong>Headquarters:</strong> {{ company.location }}</p>
                </div>
                <div class="company-description">
                    <p>{{ company.description }}</p>
                    <p>
                        <strong>
                            <a href="{{ url_for('show_company_job_postings', company_id=company.id) }}">Click to see all postings by this company</a>
                        </strong>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</section>
{% endblock %}