{% extends "layout.html" %}

{% block content %}
<section class="job-listings">
    <h2>{{ jobs[0].company_name }}'s Job Postings</h2>
    {% for job in jobs %}
    <div class="job-card">
      <h3>{{ job.title }}</h3>
      <p>Date posted: {{ job.posted_date }}</p>
      <p class="company">{{ job.company_name }}</p>
      <p class="location">{{ job.location }}</p>
      <h4>Responsibilities:</h4>
      <p>{{ job.responsibilities }}</p>
      <h4>Requirements:</h4>
      <p>{{ job.requirements }}</p>
      <h4>Nice to Have:</h4>
      <p>{{ job.nice_to_haves }}</p>
      {% if job.benefits %}
        <h4>Benefits:</h4>
        <p>{{ job.benefits }}</p>
      {% endif %}
      {% if job.pay_range %}
        <h4>Pay Range:</h4>
        <p>{{ job.pay_range }}</p>
      {% endif %}
      {% if job.closing_date %}
        <p><strong>Closing Date:</strong> {{ job.closing_date }}</p>
      {% endif %}
      <a href="mailto:{{ job.email }}">
        <button class="btn">Apply Now</button>
      </a>
    </div>
    {% endfor %}
</section>
{% endblock %}