<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Job Board</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css' )}}" />
</head>
<body>
  <!-- Main Wrapper -->
  <div class="container">

    <!-- Site Header -->
    <header>
      <h1>Flask Job Board</h1>
      <p>Find your next opportunity today!</p>
    </header>

    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search jobs, companies, or keywords..." />
      <button type="submit" name="search_query">Search</button>
    </div>

    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}" class="active">Latest Jobs</a></li>
        <li><a href="jobs.html">Browse Jobs</a></li>
        <li><a href="post_job.html">Post a Job</a></li>
        {% if company_signed_in() %} <!-- using context processor @ app.py to gain access here -->
          <li>
            <a href="{{ url_for('view_company_dashboard', company_id=company_id) }}">
              <em>EDIT Company Profile</em>
            </a>
          </li>
          <li>
            <a href="{{ url_for('signout') }}"><em>Sign Out</em></a>
          </li>
        {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signin') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

  <!-- Site Footer -->
  <footer>
    <p>&copy; 2025 Flask Job Board. All rights reserved.</p>
  </footer>
</body>
</html>