{% extends "layout.html" %}

{% block content %}

<section class="company-listings">
    <div class="company-card">
        <div class="company-logo">
            <img src="{{ url_for('serve_logo', company_id=company.id) }}" width="125px" height="125px" alt="Company Logo">
        </div>
        <div class="company-heading">
            <h3>{{ company.name }}</h3>
            <p><strong>Headquarters:</strong> {{ company.location }}</p>
            <p>
                <strong><a href="mailto:{{ company.email }}">Contact Company</a></strong>
            </p>
        </div>
        <div class="company-description">
            <p>{{ company.description }}</p>
            <p>
                <strong>
                    <a href="{{ url_for('show_company_job_postings', company_id=company.id) }}">Click to see all postings by this company</a>
                </strong>
            </p>
        </div>
    </div>

    <section class="job-listings">
        <h2>{{ company.name }}'s Recent Job Postings</h2>
        {% if not jobs %}
            <p>No postings to show</p>
        {% else %}
            {% for job in jobs %}
                {% if loop.index0 == 3 %}
                    {{ break }}
                {% endif %}
                <div class="job-card">
                    <h3>{{ job.title }}</h3>
                    <p>
                        Date posted: {{ job.posted_date }} |
                        {% if job.closing_date %}
                            <strong>Closing Date:</strong> {{ job.closing_date }}
                        {% endif %}
                    </p>
                    <p class="location">{{ job.location }}</p>
                    <p>{{ job.role_overview }}</p>
                    {% if job.pay_range %}
                        <p>{{ job.pay_range }}</p>
                    {% endif %}
                    <a href="{{ url_for('show_company_job_postings', company_id=company.id) }}#{{ job.id }}">
                        Click to read more and apply
                    </a>
                </div>
            {% endfor %}
            <h4>
                <a href="{{ url_for('show_company_job_postings', company_id=company.id )}}">Click to view all job postings<a>
            </h4>
        {% endif %}
    </section>

</section>
{% endblock %}