{% extends "layout.html" %}

{% block content %}
<h2>Update Company Information</h2>
{{ company }}<br><br>
{{ file_storage_object }}
<section class="update-info-container">
  <form class="company-form" action="{{ url_for('update_company_profile', company_id=company.id) }}" method="POST" enctype="multipart/form-data">
    <label for="name">Company Name</label>
    <input type="text" id="name" name="name" value="{{ company.name }}" required>

    <label for="location">Location</label>
    <input type="text" id="location" name="location" value="{{ company.location }}" required>

    <label for="description">Description</label>
    <textarea id="description" name="description" maxlength="1000">{{ company.description }}</textarea>

    <label for="company_logo">Company Logo</label>
    <input type="file" id="company_logo" name="company_logo" accept="image/jpg,image/jpeg,image/png">

    <div class="company-logo-preview">
      <p>Current Logo:</p>
      <img src="{{ url_for('serve_logo', company_id=company.id) }}" alt="Company Logo">
    </div>

    <button type="submit">Save Changes</button>
  </form>
</section>
{% endblock %}